h1{
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 255, 0.806)
} 

body{
    background-color: yellow;
}

p{
    font-weight: bold;
}

main{
    display: block;
    text-align: center;
    align-items: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}